/.metadata/
.project
springredis/.mvn
.recommenders
drools-demo/target
basics/target/classes
fuzi/.settings
fuzi/target
hadoop/learnhadoop/target/classes
hadoop/learnhadoop/.settings
learnspark/.idea
test/.settings
.idea
basics/.settings
sample.iml
drools-demo/.settings
.classpath
java-core/.settings
java-core/target
